<template>
	<div class="add">
		<h1 id="title-add">Create Question</h1>
		<h3 id="status-add">{{ status }}</h3>
		<div>
			<label>
				Write your question:
				<input type="text" id="question-add" v-model="postData.title" />
			</label>
			<br />
			<label>
				A:
				<input
					type="radio"
					value="a"
					id="choiceA-add"
					name="Write your question"
					v-model="postData.answer"
				/>
				<input
					type="text"
					id="choiceAtext-add"
					v-model="postData.a"
					placeholder="A"
				/>
			</label>
			<br />
			<label>
				B:
				<input
					type="radio"
					value="b"
					id="choiceB-add"
					name="Write your question"
					v-model="postData.answer"
				/>
				<input
					type="text"
					id="choiceBtext-add"
					v-model="postData.b"
					placeholder="B"
				/>
			</label>
			<br />
			<label>
				C:
				<input
					type="radio"
					value="c"
					id="choiceC-add"
					name="Write your question"
					v-model="postData.answer"
				/>
				<input
					type="text"
					id="choiceCtext-add"
					v-model="postData.c"
					placeholder="C"
				/>
			</label>
			<br />
			<label>
				D:
				<input
					type="radio"
					value="d"
					id="choiceD-add"
					name="Write your question"
					v-model="postData.answer"
				/>

				<input
					type="text"
					id="choiceDtext-add"
					v-model="postData.d"
					placeholder="D"
				/>
			</label>
			<br />
			<button
				id="send-add"
				v-bind:disabled="
					!postData.title ||
					!postData.a ||
					!postData.b ||
					!postData.c ||
					!postData.d ||
					!postData.answer
				"
				@click="handleSubmit"
			>
				Send Question
			</button>
		</div>
	</div>
</template>

<script>
import { postQuestion } from '../api';
import router from '../router';

let apiURL

if(window.location.href === "http://34.118.115.9/" || "http://localhost:8080/")
	apiURL = "http://34.118.80.47"
else 
	apiURL = "http://34.118.72.109"

export default {
	name: 'Add',
	data() {
		return {
			postData: {
				title: '',
				a: '',
				b: '',
				c: '',
				d: '',
				answer: '',
			},
			status: 'Please fill empty areas for send your question',
		};
	},

	methods: {
		async handleSubmit() {
			await postQuestion(apiURL, this.postData);
			this.status = 'Question sended';
			setTimeout(() => {
				router.push('/');
			}, 2000);
		},
	},
};
</script>
