<template>
	<div class="home">
		<h1 id="title-home">Quiz App</h1>
		<router-link id="addQuestion-home" to="/add" tag="button"
			>Add Question</router-link
		>
		<router-link id="startQuiz-home" to="/quiz" tag="button"
			>Start Quiz</router-link
		>
	</div>
</template>

<script>
export default {
	name: 'Home',
};
</script>
