<template>
	<div class="quiz">
		<h1 id="title-quiz">Quiz App</h1>
		<h3 id="status-quiz">{{ status }}</h3>

		<div class="questions">
			<div v-for="(q, key) in questions" :key="key" class="card">
				<p>Question: {{ q.title }}</p>
				<label>
					<p>
						<input
							type="radio"
							value="a"
							:name="key"
							v-on:change="(e) => scoreCalc(e.target.value, q.answer, key)"
						/>
						A: {{ q.a }}
					</p>
				</label>
				<label>
					<p>
						<input
							type="radio"
							value="b"
							:name="key"
							v-on:change="(e) => scoreCalc(e.target.value, q.answer, key)"
						/>
						B: {{ q.b }}
					</p>
				</label>
				<label>
					<p>
						<input
							type="radio"
							value="c"
							:name="key"
							v-on:change="(e) => scoreCalc(e.target.value, q.answer, key)"
						/>
						C: {{ q.c }}
					</p>
				</label>
				<label>
					<p>
						<input
							type="radio"
							value="d"
							:name="key"
							v-on:change="(e) => scoreCalc(e.target.value, q.answer, key)"
						/>
						D: {{ q.d }}
					</p>
				</label>
			</div>
			<button
				id="send-quiz"
				v-bind:disabled="answers.length < 1"
				@click="handleSend"
			>
				Send
			</button>
		</div>
	</div>
</template>

<script>
import { getQuestions } from '../api';
import { getData } from '../mockData';


let apiURL

if(window.location.href === "http://34.118.115.9/" || "http://localhost:8080/")
	apiURL = "http://34.118.80.47"
else 
	apiURL = "http://34.118.72.109"

export default {
	name: 'Quiz',
	data() {
		return {
			status:
				'Please answer Questions downbelow and click Send button for see your Result',
			questions: {},
			answers: [],
			score: 0,
			questScore: 0,
		};
	},
	async created() {
		const { data } = await getQuestions(apiURL);
		this.questions = data.questions;
	},
	methods: {
		async handleSend() {
			console.log(this.answers);
			this.score = 0;
			for (let index = 0; index < this.answers.length; index++) {
				this.score += this.answers[index];
			}
			this.status = `Your result: ${this.score} `;
		},

		scoreCalc(value, answer, index) {
			if (value == answer) {
				if (
					this.answers.indexOf(1, index) != -1 ||
					this.answers.indexOf(0, index) != -1
				) {
					this.answers[index] = 1;
				} else {
					this.answers.push(1);
				}
			} else {
				if (
					this.answers.indexOf(0, index) != -1 ||
					this.answers.indexOf(1, index) != -1
				) {
					this.answers[index] = 0;
				} else {
					this.answers.push(0);
				}
			}
		},
	},
};
</script>

<style>
.card {
	width: 50%;
	background-color: rgb(236, 236, 236);
	border-radius: 10px;

	text-align: left;

	padding: 10px;
	margin: 20px;
}
.questions {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
</style>
